.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--color-background-darker);
	padding: 1.5rem 0;
	font-size: 1.6rem;

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@include responsive('tablet') {
			flex-direction: row;
		}

		@include responsive('desktop') {
		}
	}

	&__content-item {
		display: flex;
		align-items: center;
		justify-content: center;

		&:first-child {
			margin-bottom: 1.5rem;
		}

		@include responsive('tablet') {
			&:first-child {
				margin-right: 3rem;
				margin-bottom: 0;
			}
		}
	}

	&__logo {
		width: 2rem;
		height: 2rem;
		//fixes alignment due to svg origin point
		transform: translateY(0.2rem);
		//the object should not be clickable as it messes with link tag functionality
		pointer-events: none;
	}

	&__year {
		margin-right: 1rem;
	}

	&__logo-icon {
		padding: 0 0.5rem;
		cursor: pointer;
	}
}
