@import '../mixins';

.header {
    background: var(--color-background-darker);
    font-size: 1.6rem;
    border-bottom: 0.1rem solid var(--color-transparent-white);
    font-weight: var(--weight-semi-bold);
    

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 3rem;
    }

    &__content-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu-item-container{
        display: none;
    }

    &__menu-item{
        display: inline-block;
        cursor: pointer;
        text-decoration: none;    

        &:visited{
            color: var(--color-text-primary);
        }

        &:first-child{
            margin-left: 0;
        }

        &:hover{
            color: var(--color-text-secondary);
        }
    }

    &__logo-link{
        cursor: pointer;  
        display: flex;
        justify-content: center;
        padding: 0.5rem 0;
    }

    &__logo{
        height: 2rem;
        pointer-events: none;
    }

    &__menu-icon{
        display: flex;
        justify-content: center;
    }

    @include responsive('tablet'){
        &__menu-item{
        font-size: 2rem;
        margin-left: 3rem;
        animation: menuItemAppear 0.3s linear;
        }

        &__menu-item-container{
            display: flex;
            margin-left: 0;
        }
    
        &__menu-icon{
            display: none;
        }
    }
}

@keyframes menuItemAppear{
    from {display: none; opacity: 0;}
    to {display: flex; opacity: 1;}
}

