:root {
	// Colors
	--color-background: #232228;
	--color-background-darker: #27262c;
	--color-text-primary: #fff;
	--color-text-secondary: #7f66eb;
	--color-transparent-white: rgba(255, 255, 255, 0.25);

	//Font
	--weight-normal: 400;
	--weight-medium: 500;
	--weight-semi-bold: 600;
	--weight-bold: 700;
}
